	 
	 .center {
		position:absolute;
		top:30%;
		left:30%;
		color:blue;
		text-shadow: 2px 2px 8px #000000;
}
	a {
		float:right;
		margin: 50px;
		color: white;
		size: 900;
}

	.hc {
		float: center;		
}
	.goof {
		max-width: 500px;
		margin: auto;
		background: red;
		padding: 10px;
}